.vs/
ConsoleApplication1/.vs/
ConsoleApplication1/ConsoleApplication1/x64/
ConsoleApplication1/x64/
OS Group Project.aps
OS Group Project.vcxproj.user
x64/
ConsoleApplication1/Debug/
ConsoleApplication1/ConsoleApplication1/Debug/
