.vs/
ConsoleApplication1/.vs/
ConsoleApplication1/ConsoleApplication1/x64/
ConsoleApplication1/x64/
OS Group Project.aps
OS Group Project.vcxproj.user
x64/
ConsoleApplication1/Debug/
ConsoleApplication1/ConsoleApplication1/Debug/
**/*.obj
**/*.exe
**/*.idb
**/*.pdb
**/*.csv
mem_number.txt
mem_priority.txt
mem_number_m.txt
mem_priority_m.txt
job_memory.txt
job_memory_separate.txt
